@import "vars";
@import "libs";
@import "fonts";

html{
   scroll-behavior: smooth;
}

body{
   
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #020530;
}

*,
*::after,
*::before{
   box-sizing: border-box;
}

li{
   text-decoration: none;
   list-style: none;
}

a{
   text-decoration: none;
}

// .container__ob{
//    max-width: 1850px;
//    margin: 0 auto;
// }


.container{
   max-width: 1170px;
   margin: 0 auto;
   padding: 0px 15px;
}


.header{
   background-image: url(../images/header__left-bg.png);
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 69%;
   z-index: 5;
}

.header__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0px 80px;
   
}

.header__phone{
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #020530;
   font-family: Montserrat;
   position: relative;
   padding-left: 20px;
}

.header__phone::before{
   content:'';
   position: absolute;
   left: -12px;
   background-image: url(../images/phone.svg);
   height: 27px;
   width: 27px;
   
   color:#6D00B3;
   border:none;
}

.header__wrapper{
   display: flex;
   justify-content: space-between;
}

.header__title{
   font-size: 64px;
   line-height: 0px;
   color: #FFFFFF;
   font-weight: bold;

}

.header__text{
   font-size: 24px;
   line-height: 29px;
   font-weight: 600;
   color: #FFFFFF;
}

.header__img{
   z-index: -1;
   outline: none;
   margin-bottom: 310px;
}

.header__botton{
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   color: #020530;
   font-weight: 700;
   padding-bottom: 80px;
}













// .slider{
//    padding: 80px 0 85px;
// }
      


.slider__img{
   max-width: 350px;
}

.slick-slide .slick-current{
   width: 600px;
}

.slick-center{
   width: 1000px;
}



.grooming{
   background-image: url(../images/decoration-right.png);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 18%;
   padding-top: 200px;
   z-index: -1;
   background-position-y: top;
   // display: inline-block;
}

.grooming__box{
   display: flex;
   justify-content: space-between;
}

.menu__item-link{
   padding-left: 0px;
   position: relative;
   padding-bottom: 10px;
}

.menu__item-link::before{
   content:'';
   position: absolute;
   width: 15px;
   height: 15px;
   background-image: url(../images/check.svg);
   left: -43px;
   top: 5px;
}

.grooming__contakt-box{
   display: flex;
   flex-direction: column;
   max-width: 400px;
    text-align: left;
    margin: auto;
}

.grooming__kontakt{
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #020530;
   padding-top: 20px;
   margin-bottom: 20px;
   margin-top: -307px;
   flex-direction: column;
}

.grooming__phone{
   display: inline-block;
   margin-bottom: 20px;
   padding-left: 45px;
   font-size: 18px;
   line-height: 22px;
   color: #020530;
   font-weight: 600;
   position: relative;
}

.grooming__phone::before{
   content:'';
   position: absolute;
   width: 26px;
   height: 26px;
   left: 0;
   top: -7px;
   background-image: url(../images/phone-2.svg);
}

.grooming__istagram{
   display: inline-block;
   padding-left: 45px;
   font-size: 18px;
   line-height: 22px;
   color: #020530;
   font-weight: 600;
   position: relative;
   
}

.grooming__istagram::before{
   content:'';
   position: absolute;
   width: 27px;
   height: 27px;
   left: 0px;
   top: -7px;
   background-image: url(../images/instogram-bg.svg);
}



.about__title{
   margin-top: 214px;
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   color: #020530;
   font-weight: bold;
   margin-bottom: 80px;
}

.adress__map iframe{
   max-width: 100%;
}

.about__box{
   display: flex;
   justify-content: space-between;
   padding: 0px 15px;
}

.about__inner{
   text-align: center;
   margin-bottom: 34px;
}

.about__text{
   max-width: 157px;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #020530;
   font-weight: 600;
}



.adress__title{
   font-size: 36px;
   line-height: 44px;
   color: #020530;
   font-weight: 700;
   margin-bottom: 50px;
   margin-top: 150px;
   
}

.adress__box{
   display: flex;
   justify-content: space-between;
   z-index: -5 !important;
   margin-bottom: -100px;
}


.adress__map{
   z-index: -1 !important;
}

.feadback{
   border:1px dotted #020530;
   width: 353px;
   margin-right: 230px;
   text-align: center;
   margin-left: 10px;
}

.feadback__title{
   padding-top: 47px;
   font-size: 24px;
   line-height: 29px;
   color: #020530;
   font-weight: 600;
   margin-bottom: 40px;
}

.feadback__text{
   font-size: 14px;
   line-height: 17px;
   color: #020530;
   font-weight: 500;
   margin-bottom: 20px;
}

.name,
.phone{
   display: inline-block;
   border: 1px solid  rgba(2, 5, 48, 0.4);
   border-radius: 3px;
   background: #FFFFFF;
   margin-bottom: 12px;
   padding: 10px;
}

.name::placeholder,
.phone::placeholder{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: rgba(2, 5, 48, 0.4);
}

.send-form{
   background: #A9CC31;
   box-shadow: 0px 2px 4px #7F9925;
   border-radius: 3px;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #FFFFFF;
   font-weight: bold;
   padding: 15px;
   border:none;
   cursor: pointer;
   display: inline-block;
   margin-top: 10px;
}





.footer{
   background-image: url(../images/decoration-left.png);
   background-repeat: no-repeat;
   padding-bottom: 150px;
   background-size: cover;
   padding-top: 230px;
   z-index: 10 !important;
}

.footer__adress{
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-weight: 600;
}

.footer__box{
   display: flex;
   align-items: flex-end;
}

.footer__text{
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   font-weight: 500;
}



.footer__box{
   display: flex;
   padding-top: 100px;

}

.footer__contacts{
   display: flex;
   padding-left: 100px;
   flex-direction: column;
 
}

.footer__kontakt{
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-weight: 600;
   margin-bottom: 30px;
}

.footer__phone{
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-weight: 600;
   padding-left: 40px;
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
}

.footer__phone::before{
   content:'';
   position: absolute;
   width: 26px;
   height: 26px;
   left: 0;
   top: -7px;
   background-image: url(../images/phone-green.svg);
   background-repeat: no-repeat;
  
}

.footer__kontakt{
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-weight: 600;
   position: relative;
}

.footer__istagram{
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-weight: 600;
   padding-left: 40px;
  position: relative;
  display: inline-block;
}

.footer__istagram::before{
   content:'';
   position: absolute;
   width: 28px;
   height: 28px;
   left: 0;
   top: -7px;
   background-image: url(../images/instagram-green.svg);
   background-repeat: no-repeat;
}







@import "media";

@media(max-width:1100px){
  .header__img img{
     width: 100%;
     padding-right: 10px;
  } 
}
















@media(max-width:1050px){
   .header {
      background-image: url(../images/header__left-bg.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 90%;
      
}

.header__wrapper{
   margin-bottom: -225px;
}

.grooming{
   background-image: none;
   text-align: center;
}

.menu__item-link::before {
   display: none;

}

.menu__item{
   width: 100%;
    display: inline-block;
}

.menu__item-link {
   padding-left: 0px;
   position: relative;
   padding-bottom: 35px;
}

.grooming{
   padding-top: 60px;
}

.grooming__kontakt{
   margin-top: -69px;
}

.slider__img{
   width: 80%;
   
}

.about__box{
   flex-wrap: wrap;
}

.about__title{
   margin-top: 100px;
}

.adress__title{
   margin-top: 85px;
}

.adress__box{
   display: block;
}

.feadback{
   margin: auto;
   width: auto;
   margin-top: 30px;
}


}









@media(max-width:950px){
   .grooming__box{
      display: inline-block;
      margin-left: -34px;
   }
}












@media(max-width:800px){

   .header__top {
      display: block;
      text-align: center;
      padding-bottom: 185px;
      padding-top: 66px;
   }


   .header {
      background-image: url(../images/header__left-bg.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 120%;
   }  


   .header__phone {
     
      margin-right: -39px;
      padding-right: 15px;
  }

 

  

  .header__title {
   font-size: 52px;
}

.header__text {
   font-size: 22px
}
}











@media(max-width:700px){
  .footer__box{
     display: block;
  }

  .footer__text{
   display: none;
  }
}







@media(max-width:650px){
   .slider__img{
      width: 59%;
      margin: auto;
   }
}












@media(max-width:600px){
  

   .header__title {
      font-size: 36px;
  }

  .header__text {
   font-size: 17px;
}

.header__title {
   font-size: 28px;
   color: yellow;
}

.header__text {
   font-size: 14px;
   color: yellow;
}

.logo img{
   max-width:73%;
}

.header__phone {
   margin-right: -117px;
   padding-right: 15px;
   font-size: 20px;
}

.header__img img {
  
   padding-right: 81px;
}

.header__left{
   padding-left: 15px;
}

.grooming__img{
   max-width:74%;
   margin-bottom: 30px;
}




}














@media(max-width:500px){
  .header__img img{
     width: 145%;
     margin-left: -100px;
  }

  .header__left{
   padding-left: 15px;
   margin-top: -142px;
  }
}














@media(max-width:450px){
  .footer__contacts{
    padding-left: 67px;
  }
}








@media(max-width:430px){
   .header__img img {
      width: 194%;
      margin-left: -183px;
}

}



@media(max-width:390px){
   .about__box {
     
      display: flex;
     
      
      padding: 0px 15px;
      justify-content: center; 
   }
}




@media(max-width:360px){
   .header__img img {
      width: 247%;
      margin-left: -191px;
}
}










